@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Väike-Põllu 7<br />
    Pärnumaa, Sindi Linn<br />
    <abbr title="Phone">P:</abbr>
    56651975
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:danil.gritsenko3@gmail.com">danil.gritsenko3@gmail.com</a><br />
</address>