@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/tables.css">
<h1>Gritsenko Kino</h1>

<div class="wrapper">

    <div class="table">
        <div class="row header blue">
            <div class="cell">
                Movie Name
            </div>
            <div class="cell">
                Director
            </div>
            <div class="cell">
                Date
            </div>
            <div class="cell">
                Price
            </div>
        </div>
        @foreach (var m in ViewBag.Movies)
        {
        <div class="row">
            <div class="cell" data-title="Movie Name">
                @m.Name
            </div>
            <div class="cell" data-title="Director">
                @m.Director
            </div>
            <div class="cell" data-title="Date">
                @m.Date
            </div>
            <div class="cell" data-title="Price">
                @m.Price€
            </div>
            <div class="cell" data-title="">
                <a href="/Home/Buy/@m.Id">Purchase</a>
            </div>
        </div>
        }
    </div>
    </div>

