@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Gritsenko Kino</h3>
    <table border="1">
        <tr>
            <td><p>Movie Name</p></td>
            <td><p>Director</p></td>
            <td><p>Ticket Price</p></td>
            <td></td>
        </tr>
        @foreach (var m in ViewBag.Movies)
        {
            <tr>
                <td><p>@m.Name</p></td>
                <td><p>@m.Director</p></td>
                <td><p>@m.Price€</p></td>
                <td><p><a href="/Home/Buy/@m.Id">Купить</a></p></td>

            </tr>
        }
    </table>
</div>